repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    exclude: ^(docs/|archive/|analysis/)
  - id: end-of-file-fixer
    exclude: ^(docs/|archive/|analysis/)
  - id: check-yaml
    exclude: ^mkdocs\.yml$
  - id: check-added-large-files
    args: [--maxkb=10000]
  - id: check-json
    exclude: ^(\.vscode/)

- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.15.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix]
  - id: pretty-format-toml
    args: [--autofix, --trailing-commas]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.3
  hooks:
  - id: ruff-format
    exclude: ^(analysis/|osparc_api_example/)
  - id: ruff
    args: [--fix]
    exclude: ^(analysis/|osparc_api_example/|docs/)

- repo: https://github.com/RobertCraigie/pyright-python
  rev: v1.1.407
  hooks:
  - id: pyright

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    additional_dependencies:
    - tomli

- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.9.7
  hooks:
  - id: uv-lock
