site_name: GOLIAT Documentation
site_description: Automated Python framework for near-field and far-field dosimetric assessments using Sim4Life
site_author: rwydaegh
site_url: https://rwydaegh.github.io/goliat/

docs_dir: docs

repo_name: rwydaegh/goliat
repo_url: https://github.com/rwydaegh/goliat
edit_uri: edit/master/docs/

theme:
  name: material
  logo: img/goliat.svg
  favicon: img/favicon.svg
  language: en
  features:
  - announce.dismiss
  - content.action.edit
  - content.action.view
  - content.code.annotate
  - content.code.copy
  - content.tabs.link
  - content.tooltips
  - header.autohide
  - navigation.expand
  - navigation.footer
  - navigation.indexes
  - navigation.instant
  - navigation.instant.prefetch
  - navigation.instant.progress
  - navigation.prune
  - navigation.sections
  - navigation.tabs
  - navigation.tabs.sticky
  - navigation.top
  - navigation.tracking
  - search.highlight
  - search.share
  - search.suggest
  - toc.follow
  - toc.integrate
  palette:
  - scheme: default
    primary: indigo
    accent: indigo
    toggle:
      icon: material/brightness-7
      name: Switch to dark mode
  - scheme: slate
    primary: indigo
    accent: indigo
    toggle:
      icon: material/brightness-4
      name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  icon:
    logo: material/radioactive
    repo: fontawesome/brands/github
    edit: material/pencil
    view: material/eye

extra:
  generator: false
  social:
  - icon: fontawesome/brands/github
    link: https://github.com/rwydaegh/goliat
  version:
    provider: mike

extra_css:
- stylesheets/extra.css

extra_javascript:
- javascripts/ansi-to-html.js

nav:
- Home: index.md
- User Guide:
  - Quick Start: user_guide/quick_start.md
  - User Guide: user_guide/user_guide.md
- Tutorials:
  - Overview: tutorials/overview.md
  - 1. Far-Field Basics: tutorials/01_far_field_basics.ipynb
  - 2. Configuration and Caching: tutorials/02_configuration_and_caching.ipynb
  - 3. Near-Field Basics: tutorials/03_near_field_basics.ipynb
  - 4. Gridding and Phantom Rotation: tutorials/04_gridding_and_phantom_rotation.ipynb
  - 5. Parallel and Cloud Execution: tutorials/05_parallel_and_cloud_execution.ipynb
- Developer Guide:
  - Overview: developer_guide/developer_guide.md
  - Technical Guide: developer_guide/technical_guide.md
  - Advanced Features: developer_guide/advanced_features.md
  - System Architecture: developer_guide/system_architecture.md
  - Configuration: developer_guide/configuration.md
  - Coloring Rules: developer_guide/coloring_rules.md
  - UML: developer_guide/uml.md
- Cloud:
  - Overview: cloud/overview.md
  - oSPARC: cloud/osparc.md
  - Monitoring dashboard: cloud/monitoring.md
  - Super Studies: cloud/super_studies.md
  - Cloud setup: cloud/cloud_setup.md
- Troubleshooting: troubleshooting.md
- Reference:
  - Full List of Features: reference/full_features_list.md
  - API Reference: reference/api_reference.md
  - Sim4Life API snippets: reference/useful_s4l_snippets.md
- Project Info: project_info.md

plugins:
- search:
    separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
- minify:
    minify_html: true
    minify_js: true
    minify_css: true
    htmlmin_opts:
      remove_comments: true
- kroki:
    HttpMethod: POST
- mermaid2: {}
- panzoom: {}
- mknotebooks:
    execute: false
- mkdocstrings:
    handlers:
      python:
        paths: [goliat]
        options:
          docstring_style: google
          docstring_options:
            ignore_init_summary: true
          merge_init_into_class: true
          show_root_heading: true
          show_source: true
          show_category_heading: true
          show_signature_annotations: true
          separate_signature: true
          line_length: 80
          members_order: source
          group_by_category: true
          show_symbol_type_heading: true
          show_symbol_type_toc: true
          filters:
          - '!^_'
          - ^__init__$
        griffe:
          warn_missing: false

markdown_extensions:
  # Python Markdown
- abbr
- admonition
- attr_list
- def_list
- footnotes
- md_in_html
- toc:
    permalink: true
    toc_depth: 4

  # Python Markdown Extensions
- pymdownx.arithmatex:
    generic: true
- pymdownx.betterem:
    smart_enable: all
- pymdownx.caret
- pymdownx.details
- pymdownx.highlight:
    anchor_linenums: true
    line_spans: __span
    pygments_lang_class: true
- pymdownx.inlinehilite
- pymdownx.keys
- pymdownx.mark
- pymdownx.smartsymbols
- pymdownx.snippets:
    check_paths: true
    base_path: docs
    auto_append:
    - includes/abbreviations.md
- pymdownx.tabbed:
    alternate_style: true
    combine_header_slug: true
- pymdownx.tasklist:
    custom_checkbox: true
- pymdownx.tilde
- pymdownx.superfences:
    custom_fences:
    - name: mermaid
      class: mermaid
      format: !!python/name:mermaid2.fence_mermaid_custom
- pymdownx.emoji:
    emoji_index: !!python/name:material.extensions.emoji.twemoji
    emoji_generator: !!python/name:material.extensions.emoji.to_svg
