numpy
pandas
tqdm
gdown
seaborn
line-profiler
pytest
scienceplots
osparc-client
PySide6
osparc
colorama
python-dotenv

# Documentation
mkdocs
mkdocs-material
mkdocstrings[python]
mkdocs-mermaid2-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-minify-plugin
