name: CI/CD

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Setup uv
      uses: astral-sh/setup-uv@v1
      with:
        enable-cache: true

    - name: Install dependencies
      run: uv pip install --system -r requirements.txt

    - name: Run Pytest tests
      run: |
        export PYTHONPATH=$PYTHONPATH:./src
        pytest tests/
